.navbar-profile-pic img {
  border-radius: 90px;
  height: 80px;
  width: 80px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
  margin-top: 20px;
  margin-right: 60px;
}
.navbar-profile-pic1 img {
  border-radius: 90px;
  height: 80px;
  width: 80px;
  display: flex;
  vertical-align: middle;
  margin: 0 auto;
  margin-top: 20px;
  margin-right: 25px;
}
.h {
  font-size: 1.3rem;
}
.h:hover {
  font-size: 1.9rem;
}

.theme-btn {
  position: fixed;
  top: 20px;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: #d0cccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1200;
}
.theme-btn1 {
  position: fixed;
  top: 20px;
  left: 0;
  height: 40px;
  width: 40px;
  background-color: #d0cccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1200;
}
.theme-btn:hover {
  background-color: #bcb8b8;
  transition: 0.2s ease-in-out;
}


.h:hover {
  font-size: x-large;
}
.nav-item {
  margin-top: 30px;
  margin-left: 25px;
}
.nav-link {
  margin-top: 20px;
  cursor: pointer;
}
.contact-link {
  color: rgb(240, 241, 241);
  transition:
    color 0.25s ease,
    transform 0.2s ease;
}
#dark .contact-link {
  color: rgb(140, 175, 207);
  font-size: 1rem;
  transition:
    color 0.25s ease,
    transform 0.2s ease;
}

#dark .contact-link:hover {
  transform: translateY(-3px);
}
#dark .theme-btn {
  background-color: #100101be;
}
#dark .theme-btn1 {
  background-color: #180202a3;
}
.nav-link svg {
  margin-right: 10px;
}
.nav-link:hover {
  color: #f29f67;
  font-size: 1.1rem;
  text-shadow: 1in;
}
.nav-link .active {
  color: #f29f67;
  border-left: 5px solid #f29f67;
  padding-left: 10px;
  text-decoration: none;
}
