.mobile-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: auto;
  z-index: 1200;
}

.mobile-nav-header {
  height: 50px;
  width: 60px;
  background-color:transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
#dark .mobile-nav-header {
  background-color: transparent;
}
.mobile-nav-header .mobile-nav-icon {
  color: rgb(167, 165, 165);
  cursor: pointer;
  font-size: 22px;
}
#dark .mobile-nav-icon {
  color: #ffffff;
}
.nav-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  padding: 15px 20px;
  backdrop-filter: blur(6px);
  transition: all 0.3s ease;
}

.nav-grid a {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 10px;
  color: rgb(211, 205, 205) !important;
  text-decoration: none;
  font-size: 0.91rem;
}

#dark .mobile-nav-menu .nav-items {
  background-color: transparent;
  color: #ffffff;
}

#dark .nav-grid a {
  color: rgba(238, 234, 234, 0.864);
}


#dark .nav-grid a:hover {
  box-shadow: 0 8px 20px rgba(255, 180, 120, 0.5);
}
@media (min-width: 600px) {
  .mobile-nav {
    display: none;
  }
}
@media (max-width: 400px) {
  .nav-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}



.mobile-theme-btn {
  position: fixed;
  top: 15px;
  right: 15px;
  height: 40px;
  width: 40px;
  background-color: #d0cccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  z-index: 2000; 
}

#dark .mobile-theme-btn {
  background-color: transparent;
  color: #ffffff;
}

.mobile-theme-btn:hover {
  background-color: #bcb8b8;
  transition: 0.2s ease-in-out;
}

