.carousel-btn {
  background-color: #f0f0f0;
  border: none;
  transition: all 0.9s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.carousel-btn:hover {
  background: linear-gradient(
    135deg,
    #4facfe 0%,
    #d6722191 100%
  ); 
  color: #e0f7ff;
 transform: scale(1.3) rotate(-5deg);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
