/* ========= Parallax Layer ========= */

.parallax {
  background-image: url(../../assets/images/About/phot.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  filter: brightness(10%);
  perspective: 100px;
  color: #ecdddd;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative; 
  min-height: 100vh; 
}

.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.parallax__cover {
  background: #070307;
  display: block;
  position: absolute;
  bottom: 0; /* changed from top: 100% */
  left: 0;
  right: 0;
  height: 470px;
  z-index: 2;
}

/* ===== Responsive Brightness & Cover Height ===== */
@media (max-width: 600px) {
  .parallax {
    min-height: 80vh;
    filter: brightness(35%);
  }
  .parallax__cover {
    height: 300px;
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  .parallax {
    min-height: 90vh;
    filter: brightness(28%);
  }
  .parallax__cover {
    height: 350px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .parallax {
    filter: brightness(24%);
  }
  .parallax__cover {
    height: 400px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .parallax {
    filter: brightness(20%);
  }
  .parallax__cover {
    height: 400px;
  }
}

@media (min-width: 1200px) {
  .parallax {
    filter: brightness(5%);
  }
  .parallax__cover {
    height: 470px;
  }
}
