.certif-container {
  padding: 20px 20px;
  width: 100%;
  margin-top: 100px;
  /* height: 100vh; */
  display: flex;
  /* background: var(--color-guide-community-0-e-1428, #070a15); */
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.201),
    rgb(230, 230, 230),
    rgb(209, 195, 211),
    rgb(228, 212, 212)
  );
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  flex-wrap: wrap;
  gap: 5rem;
}

.certif-left {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40vw;
  height: auto;
  gap: 2rem;
}

.certif-text-container {
  display: flex;
  width: 40vw;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
}

.certif-headings {
  display: flex;
  padding: 15px 10px;
  justify-content: center;
  align-items: center;
  color: #fff;
  gap: 10px;
}

.certif-heading {
  /* color: var(--color-guide-community-0-e-1428, #070a15); */
  color: #812020;
  text-align: center;
  text-align: start;
  font-family: Open Sans;
  font-size: 55px;
  font-style: normal;
  font-weight: 800;
  line-height: 98%;
}

.certif-para {
  width: 35vw;
  /* text-align: center; */
  color: rgba(78, 6, 6, 0.8);
  font-size: 1.5rem;
  font-weight: 400;
}

.parallax-effect-img {
  margin-bottom: 20px;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  /* background-image: url('../Menu/certBackground.png'); */
  /* background-image: url('https://media-cdn.openxcell.com/wp-content/uploads/2023/12/28161339/1.Tech-Stack.jpg'); */
  background: linear-gradient(
    135deg,
    rgba(228, 221, 221, 0.201),
    rgb(222, 219, 230),
    rgb(233, 220, 224),
    rgb(174, 163, 185)
  );
  justify-content: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: auto;
  border-radius: 20px;
  height: auto;
}

.parallax-effect-img .inner-element {
  transform: translateZ(50px) scale(0.89);
}

.certif-cards-container {
  display: flex;
  width: 40vw;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  /* justify-content: center; */
  gap: 30px;
  padding-top: 20px;
  overflow: hidden;
}

.certif-cards {
  display: flex;
  padding: 18px;
  width: 35vw;
  justify-content: center;
  align-items: center;
  gap: 7px;
  align-self: stretch;
  border-radius: 5px;
  border: 2px dashed var(--color-guide-primary-20, #7a575a);
}

.certif-cards span {
  color: #492020;
  font-family: Open Sans;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.certif-card-selected {
  border-radius: 100px;
  /* background: var(--color-guide-community-f-18805, #f18805); */
  box-shadow: 0px 10px 50px -20px rgba(241, 136, 5, 0.5);
}

.certif-image-container {
  width: 45vw;
  /* height:80vh; */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.certif-image-container img {
  /* width: 45vw; */
  justify-content: center;
  align-items: center;
  height: 65vh;
  border-radius: 25px;
  margin-bottom: 20px;
}

/* _____________________________ */
.slider-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.fade-slide {
  width: 100%;
  height: auto;
  transition:
    opacity 0.8s ease-in-out,
    transform 0.8s ease;
  opacity: 1;
}

@media (max-width: 380px) {
  .certif-heading {
    color: #812020;
    font-size: 1.7rem !important;
  }
}
/* =============Responsive========== */
@media screen and (max-width: 600px) {
  #certif {
    height: auto;
    width: auto;
    gap: 25px;
    margin: 0;
    padding: 0;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  .certif-headings {
    display: flex;
    padding: 25px 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 10px;
  }

  .certif-heading {
    /* color: var(--color-guide-community-0-e-1428, #070a15); */
    color: #812020;
    text-align: center;
    font-family: Open Sans;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 800;
    line-height: 98%;
  }
  .certif-para {
    width: 55vw;
    color: rgba(78, 6, 6, 0.8);
    font-size: 1.3rem;
    font-weight: 400;
  }

  .certif-cards-container {
    display: flex;
    width: 40vw;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-top: 20px;
    overflow: hidden;
  }
  .certif-cards span {
    font-size: 1.3rem;
  }
  .certif-image-container {
    width: 75vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  .certif-image-container img {
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-radius: 25px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 601px) and (max-width: 767px) {
  #certif {
    padding: 20px 0px 10px 130px;
    width: 81vw;
  }
  .certif-headings {
    display: flex;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 10px;
  }

  .certif-heading {
    /* color: var(--color-guide-community-0-e-1428, #070a15); */
    color: #812020;
    text-align: center;
    text-align: start;
    font-family: Open Sans;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 800;
    line-height: 98%;
  }
  .certif-para {
    width: 35vw;
    text-align: center;
    color: rgba(78, 6, 6, 0.8);
    font-size: 1.3rem;
    font-weight: 400;
  }

  .certif-cards-container {
    display: flex;
    width: 40vw;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-top: 20px;
    overflow: hidden;
  }
  .certif-cards span {
    font-size: 1.1rem;
  }
  .certif-image-container {
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  .certif-image-container img {
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-radius: 25px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  #certif {
    padding: 20px 10px 10px 120px;
    width: 80vw;
  }
  .certif-headings {
    display: flex;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 10px;
  }

  .certif-heading {
    /* color: var(--color-guide-community-0-e-1428, #070a15); */
    color: #812020;
    text-align: center;
    text-align: start;
    font-family: Open Sans;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 800;
    line-height: 98%;
  }
  .certif-para {
    width: 35vw;
    text-align: center;
    color: rgba(78, 6, 6, 0.8);
    font-size: 1.5rem;
    font-weight: 400;
  }

  .certif-cards-container {
    display: flex;
    width: 40vw;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-top: 20px;
    overflow: hidden;
  }
  .certif-cards span {
    font-size: 1.3rem;
  }
  .certif-image-container {
    width: 65vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  .certif-image-container img {
    justify-content: center;
    align-items: center;
    height: 35vw;
    border-radius: 25px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  #certif {
    padding: 20px 0px 10px 120px;
    width: 100%;
  }
  .certif-headings {
    display: flex;
    padding: 15px 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
    gap: 10px;
  }

  .certif-heading {
    /* color: var(--color-guide-community-0-e-1428, #070a15); */
    color: #812020;
    text-align: center;
    text-align: start;
    font-family: Open Sans;
    font-size: 2.7rem;
    font-style: normal;
    font-weight: 800;
    line-height: 98%;
  }
  .certif-para {
    width: 35vw;
    text-align: center;
    color: rgba(78, 6, 6, 0.8);
    font-size: 1.5rem;
    font-weight: 400;
  }

  .certif-cards-container {
    display: flex;
    width: 40vw;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    padding-top: 20px;
    overflow: hidden;
  }
  .certif-cards span {
    font-size: 1.3rem;
  }
  .certif-image-container {
    width: 62vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }

  .certif-image-container img {
    justify-content: center;
    align-items: center;
    height: 60vh;
    border-radius: 25px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1617px) {
  #certif {
    margin-left: 100px;
    padding: 50px 50px 50px 20px;
    margin-top: 50px;
    width: 90%;
  }
}
